.logo_img {
    width: 60px;
}

.nav-link {
    color: #949494;
}

.nav-link:hover, .dropdown .nav-link.show {
    color: aquamarine;
}

.position-obsolute {
    position: relative;
}
.w-85 {
    width: 85%;
}

