.logo_img {
    width: 60px;
}

.nav-link {
    color: #949494;
}

.nav-link:hover, .dropdown .nav-link.show {
    color: aquamarine;
}


.w-85 {
    width: 85%;
}

video {
    width: 100%;
}


.contenido {
    bottom: 20px; position: absolute;

.minititulo {
    font-size: 15px;
    margin-bottom: 5%;
    }
    
    .maxititulo {
        font-size: 44px;
    }
}
.elemento-video-banner {
    width: 100%; position: relative; top: 0;object-fit: cover;
}
.banner {
    height: 600px; overflow: hidden; 
}